/* color palette from <https://github.com/vuejs/theme> */

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --primaryColor: #F6BE4F;
  --secondaryColor:  #DC5A41;
  --secondaryColorTint: #565d6a;
  --secondaryColorShade: #232a37;
  --background: #F0ECE3;
  --textColor: #000;
  --dark: #2C3545;
  --bg: url("../assets/bg.webp");
}

  :root.dark {
    --bg: url("../assets/bg1.png");
    --primaryColor: #DC5A41;
    --secondaryColor: #F6BE4F;
    --background: #303036;
    --textColor: #fff;
  }


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--textColor);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table, td, th, tr {
  border: black 1px solid;
  padding: 16px;
  margin-bottom: 16px;
  height: fit-content;
  /* width: max-content; */
}

thead, th {
  background-color: var(--background) !important;
  color: var(--textColor) !important;
}

tr:nth-child(odd) {
  background: lightgray;
  color: #000;
}

tr:nth-child(even) {
  background: grey;
  color: #000;
}

h3 {
  margin: 64px 0;
}
