/* color palette from <https://github.com/vuejs/theme> */

:root {
  background-color: #000;
}

/* semantic color variables for this project */
:root {
  --bg: url("../assets/bg1.png");
  --primaryColor: #24BE74;
  --secondaryColor: #24BE74;
  --background: #303036;
  --textColor: #fff;
  background-color: #000;
}

  :root.dark {
    --bg: url("../assets/bg1.png");
    --primaryColor: #24BE74;
    --secondaryColor: #24BE74;
    --background: #303036;
    --textColor: #fff;
    background-color: #000;
  }


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  transition: all 300ms ease-in-out;
}
span {
font-weight: bold;
}

html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--textColor);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table, td, th, tr {
  border: white 1px solid;
  padding: 16px;
  margin-bottom: 16px;
  height: fit-content;
  text-align: center;
}

thead {
  background-color: var(--background) !important;
  color: var(--textColor) !important;
}

thead:first-child tr {
  background-color: var(--primaryColor);
  color: black;
}

/* tr:nth-child(odd) {
  background: lightgray;
  color: #000;
} */

tr:nth-child(even) {
  background: #202124;
  color: white; 
}
