.header {
  width: fit-content;
  margin: 0 auto 128px;
  text-align: center;
}
.header h2, .header h1 {
  text-align: center;
}
.header h1 {
  color: #FFF;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header h2 {
  color: #FFF;
  font-family: Caladea;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.header h2 span {
  font-weight: 400;
  padding: 0 0 6px 0;
  border-bottom: 1px solid var(--primaryColor);
}
.header p {
  max-width: 560px;
  margin: auto;
}