/* ========================
Nav
======================== */
#main-title {
  font-size: 32px;
  flex: 1;
}

#sun {
  background-color: orange;
  border-radius: 100%;
  padding: 6px;
  height: 27px;
  display: flex;
}
#moon {
  background-color: grey;
  border-radius: 100%;
  padding: 6px;
  height: 27px;
  display: flex;
  color: white;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px;
  line-height: 50px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
  min-height: 54px;
  background-color: var(--background);
}
#burger, #close {
  display: none;
}
nav img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: -37px;
}
nav .desc {
  overflow: visible;
}
nav a {
  position: relative;
  padding: 0 20px;
  margin: 0 10px;
  display: inline-block;
  color: var(--textColor);
  font-size: 14px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  overflow: visible;
}
nav div a:hover {
  transition: all 1s,;
  border-bottom: 2px solid var(--secondaryColor);
}