/* ========================
Nav
======================== */
#main-title {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
}

#sun {
  background-color: orange;
  border-radius: 100%;
  padding: 6px;
  height: 27px;
  display: flex;
}
#moon {
  background-color: grey;
  border-radius: 100%;
  padding: 6px;
  height: 27px;
  display: flex;
  color: white;
}

nav {
  position: fixed;
  text-align: center;
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 16px 40px;
  background: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid #1B1B1B;
  background: rgba(0, 0, 0, 0.80);
  backdrop-filter: blur(4px);
}
#burger, #close {
  display: none;
}
nav .desc {
  overflow: visible;
}
nav a {
  position: relative;
  padding: 0 20px;
  margin: 0 10px;
  display: inline-block;
  color: var(--textColor);
  font-size: 14px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  overflow: visible;
}
nav div a:hover, nav div a.selected {
  transition: all 1s,;
  border-bottom: 2px solid var(--secondaryColor);
}